<!DOCTYPE html>
<html>
<head>
    <title>修改主机</title>
    {% include 'common/auth.html' %}
    {% include 'common/header.html' %}
</head>
<body>
<form class="layui-form" action="" lay-filter="edit-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>IP</label>
                    <div class="layui-input-inline">
                        <input type="text" name="host_ip" lay-verify="required|ip" autocomplete="off" placeholder=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>主机名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="host_name" lay-verify="required" autocomplete="off" placeholder=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>项目</label>
                    <div class="layui-input-inline">
                        <div id="projectid" name="project_id" class="xm-select"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>ssh用户</label>
                    <div class="layui-input-inline">
                        <div id="ssh_id" name="ssh_id" class="xm-select"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>ssh端口</label>
                    <div class="layui-input-inline">
                        <input type="text" name="ssh_port" lay-verify="number" autocomplete="off" placeholder=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">机器地区</label>
                    <div class="layui-input-inline">
                        <input type="text" name="city" lay-verify="city" autocomplete="off" placeholder=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">站点域名</label>
                    <div class="layui-input-inline">
                        <textarea placeholder="" name="site_name" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-inline">
                        <textarea placeholder="" name="remark" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% include 'common/footer.html' %}
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form
        let $ = layui.jquery
        let args = searchToObject()
        let projectid
        let ssh_id

        if (args.id !== undefined) {
            $.ajax({
                url: '/api/hosts/' + args.id,
                type: 'get',
                headers: get_authorization(),
                async: false,
                success: function (res) {
                    if (res.code == 1) {
                        form.val("edit-form", {
                            "host_ip": res.data.host_ip
                            , "host_name": res.data.host_name
                            //,"projectid": res.data.projectid
                            //,"ssh_id": res.data.ssh_id
                            , "ssh_port": res.data.ssh_port
                            , "city": res.data.city
                            , "site_name": res.data.site_name
                            , "remark": res.data.remark
                        });
                        projectid = res.data.project_id;
                        ssh_id = res.data.ssh_id;
                    } else if (res.code == 403) {
                        layer.msg(res.msg, {icon: 2, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.render()
                        });
                    } else {
                        layer.msg('服务器异常', {icon: 2, time: 1000})
                    }
                }
            })
        }

        //自定义验证规则
        form.verify({
            nikename: function (value) {
                if (value.length < 5) {
                    return '昵称至少得5个字符啊';
                }
            },
            ip: function (value) {
                if (!checkIP(value)) {
                    return '请输入正确的IP地址';
                }
            },
            repass: function (value) {
                if ($('#L_password').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            },
            projectid: function (value) {
                if ($('#L_project,.selector').val() == '0') {
                    return '请选择项目';
                }
            }
        });

        // 下拉框赋值
        $.ajax({
            url: '/api/projects?all=1',
            type: 'get',
            headers: get_authorization(),
            success: function (res) {
                let p_data
                if (res.code == 0) {
                    p_data = res.data
                } else {
                    p_data = []
                }
                xmSelect.render({
                    el: '#projectid',
                    prop: {
                        name: 'name',
                        value: 'id'
                    },
                    theme: {
                        color: localStorage.getItem('theme-color-context', '#8dc63f')
                    },
                    name: 'project_id',
                    data: p_data,
                    initValue: [projectid],
                    radio: true,
                    paging: true,
                    filterable: true,
                    clickClose: true,
                    pageEmptyShow: false,
                    pageSize: 5,
                    tips: '选择项目',
                    //pageRemote: true,
                    empty: '呀, 没有数据呢',
                    /*
                    remoteMethod: function (val, cb, show, pageIndex) {
                        // val: 搜索框的内容, 不开启搜索默认为空, cb: 回调函数, show: 当前下拉框是否展开, pageIndex: 当前第几页
                        $.ajax({
                            method: 'get',
                            url: '/api/projects?page=' + pageIndex + '&limit=5&s=' + val,
                            headers: get_authorization(),
                            success: function (res) {
                                if (res.code == 0) {
                                    // 分页回调
                                    cb(res.data, Math.ceil(res.count / 5));
                                } else {
                                    cb(res.msg, 0);
                                }
                            }
                        })
                    }  */
                })
            }
        });

        // 下拉框赋值
        $.ajax({
            url: '/api/ssh_users?all=1',
            type: 'get',
            headers: get_authorization(),
            success: function (res) {
                let p_data
                if (res.code == 0) {
                    p_data = res.data
                } else {
                    p_data = []
                }
                xmSelect.render({
                    el: '#ssh_id',
                    prop: {
                        name: 'name',
                        value: 'id'
                    },
                    theme: {
                        color: localStorage.getItem('theme-color-context', '#8dc63f')
                    },
                    name: 'ssh_id',
                    data: p_data,
                    initValue: [ssh_id],
                    radio: true,
                    paging: true,
                    filterable: true,
                    pageEmptyShow: false,
                    clickClose: true,
                    pageSize: 5,
                    tips: '选择SSH用户',
                    //pageRemote: true,  // 这里不用远程分页是因为编辑页面设置默认值的时候，远程分页没法赋值
                    empty: '呀, 没有数据呢',
                    /*
                    remoteMethod: function (val, cb, show, pageIndex) {
                        // val: 搜索框的内容, 不开启搜索默认为空, cb: 回调函数, show: 当前下拉框是否展开, pageIndex: 当前第几页
                        $.ajax({
                            method: 'get',
                            url: '/api/ssh_users?page=' + pageIndex + '&limit=5&s=' + val,
                            headers: get_authorization(),
                            success: function (res) {
                                if (res.code == 0) {
                                    // 分页回调
                                    cb(res.data, Math.ceil(res.count / 5));
                                } else {
                                    cb(res.msg, 0);
                                }
                            }
                        })
                    } */
                })
            }
        });

        form.on('submit(save)', function (data) {
            $.ajax({
                url: '/api/hosts/' + args.id,
                data: JSON.stringify(data.field),
                dataType: 'json',
                headers: get_authorization(),
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.code === 1) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.layui.table.reload('host-table')
                        })
                    } else {
                        let msg = ''
                        if (Object.prototype.toString.call(result.msg) === '[object Object]') {
                            for (var i in result.msg) {
                                msg += result.msg[i][0] + '\n';
                            }
                        } else {
                            msg = result.msg;
                        }
                        layer.msg(msg, {icon: 2, time: 1000})
                    }
                }
            })
            return false
        })
    })
</script>
</body>
</html>