<!DOCTYPE html>
<html>
<head>
    <title>修改项目</title>
    {% include 'common/auth.html' %}
    {% include 'common/header.html' %}
</head>
<body>
<form class="layui-form" action="" lay-filter="edit-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>项目名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder=""
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-inline">
                        <textarea placeholder="" name="remark" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
{% include 'common/footer.html' %}
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form
        let $ = layui.jquery
        let args = searchToObject()
        let projectid
        let ssh_id

        if (args.id !== undefined) {
            $.ajax({
                url: '/api/projects/' + args.id,
                type: 'get',
                headers: get_authorization(),
                async: false,
                success: function (res) {
                    if (res.code == 1) {
                        form.val("edit-form", {
                            "name": res.data.name
                            , "remark": res.data.remark
                        });
                    } else if (res.code == 403) {
                        layer.msg(res.msg, {icon: 2, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.render()
                        });
                    } else {
                        layer.msg('服务器异常', {icon: 2, time: 1000})
                    }
                }
            })
        }

        form.on('submit(save)', function (data) {
            $.ajax({
                url: '/api/projects/' + args.id,
                data: JSON.stringify(data.field),
                dataType: 'json',
                headers: get_authorization(),
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.code === 1) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
                            parent.layui.table.reload('table-data')
                        })
                    } else {
                        let msg = ''
                        if (Object.prototype.toString.call(result.msg) === '[object Object]') {
                            for (var i in result.msg) {
                                msg += result.msg[i][0] + '\n';
                            }
                        } else {
                            msg = result.msg;
                        }
                        layer.msg(msg, {icon: 2, time: 1000})
                    }
                }
            })
            return false
        })
    })
</script>
</body>
</html>