<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/static/ws/css/xterm.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/ws/css/fullscreen.min.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="waiter" style="display: none"> Connecting ... </div>
    <div class="container" style="height: 100%">
      <div id="status" style="color: red;"></div>
      <div id="terminal"></div>
    </div>
    <script src="/static/js/common/checkToken.js"></script>
    <script src="/static/js/common/main.js"></script>
    <script src="/static/ws/js/jquery.min.js"></script>
    <script src="/static/ws/js/popper.min.js"></script>
    <script src="/static/ws/js/xterm.min.js"></script>
    <script src="/static/ws/js/xterm-addon-fit.min.js"></script>
    <script src="/static/ws/js/main.js"></script>
    <script src="/static/ws/js/zmodem.devel.js"></script>
  </body>
</html>
