<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>编辑脚本</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <link rel="stylesheet" href="/static/mycss/my.css">
        <link rel="stylesheet" href="/static/codemirror/codemirror.css">
        <link rel="stylesheet" href="/static/codemirror/theme/base16-dark.css">
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <script async src="/static/js/custom/checkToken.js" charset="utf-8"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class='index-alert'>
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <button class="layui-btn layui-btn-primary" style="border:none" 
                                onclick="javascript:history.back(-1);" onmouseover="show_back(this)" 
                                onmouseout="dis_back(this)"><i class="layui-icon">&#xe603</i></button>
                        <span>编辑版本</span>
                    </div>
                    <div class="layui-card-body layui-form-body layui-table-main">
                        <form class="layui-form" id="mailconfig">
                          <div class="layui-form-item layui-hide">
                                <input type="text" id="L_id" name="script_id" class="layui-input">
                          </div>
                          <div class="layui-form-item layui-hide">
                                <input type="text" id="L_vid" name="vid" class="layui-input">
                          </div>
                          <div class="layui-form-item">
                              <label for="L_name" class="layui-form-label">
                                  <span class="x-red">*</span>脚本名称
                              </label>
                              <div class="layui-input-inline" style="width: 30%">
                                  <input type="text" id="L_name" name="name" required="" lay-verify="required"
                                  autocomplete="off" class="layui-input" readonly>
                              </div>
                          </div>
                          <div class="layui-form-item">
                              <label for="L_version" class="layui-form-label">
                                  <span class="x-red"></span>版本
                              </label>
                              <div class="layui-input-inline" style="width: 30%">
                                  <input type="text" id="L_version" name="version" required="" lay-verify="required"
                                  autocomplete="off" class="layui-input" readonly>
                              </div>
                          </div>
                          <div class="layui-form-item">
                              <label for="L_comment" class="layui-form-label">
                                  <span class="x-red">*</span>脚本内容
                              </label>
                              <div class="layui-input-block">
                                <div class="layui-tab">
                                    <ul class="layui-tab-title">
                                        <li class="layui-this" lay-id="1" id="cmd_title"></li>
                                    </ul>
                                    <div class="layui-tab-content">
                                        <div class="layui-tab-item" id="script_pro">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" id="filescript" name="filescript">上传文件</button><br>
                                            <textarea id="L_comment" name="comment" autocomplete="off" class="layui-textarea" lay-verify="cmd"></textarea>
                                        </div>
                                        <div class="layui-tab-item" id="script_filename">
                                            <div style="display:inline-block;padding:9px 15px;">
                                                <label><span class="x-red">*</span>脚本文件名</label>
                                            </div>
                                            <div style="display:inline-block;width:30%;">
                                                <input type="text" id="L_filename" name="scripts_filename" lay-verify="cmd"
                                                autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                          </div>
                          <div class="layui-form-item">
                              <label for="L_option" class="layui-form-label">
                                  <span class="x-red"></span>参数传递方式
                              </label>
                              <div class="layui-input-inline" style="width: 30%">
                                  <select name="parameter_mode" id="L_parameter_mode" lay-verify=''>
                                    <option value="1">命令行顺序</option>
                                    <option value="2">JSON</option>
                                  </select>
                              </div>
                          </div>
                          <div class="layui-form-item">
                              <label for="L_options" class="layui-form-label">
                                  <span class="x-red"></span>参数
                              </label>
                              <div class="layui-input-inline">
                                  <button type="button" class="layui-btn layui-btn-radius layui-btn-primary" id="add_options">
                                      添加参数
                                      <i class="layui-icon layui-icon-down layui-font-12"></i>
                                  </button>    
                              </div>
                          </div>
                          <div class="layui-form-item" id="options">
                          </div>
                          <div class="layui-form-item">
                              <label for="L_submit" class="layui-form-label">
                              </label>
                              <button  class="layui-btn" lay-submit lay-filter="add">
                                    添加
                              </button>
                          </div>
                      </form>
                </div>
            </div>
        </div>
        <script src="/static/js/my/main.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/codemirror/codemirror.js"></script>
        <script type="text/javascript" src="/static/codemirror/mode/python/python.js"></script>
        <script type="text/javascript" src="/static/codemirror/mode/shell/shell.js"></script>
        <script type="text/javascript" src="/static/js/webtoolkit-base64.js"></script>
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script>layui.use(['form', 'layer', 'laydate', 'jquery', 'upload', 'dropdown'],
            function() {
                var $ = layui.jquery,
                layer = layui.layer,
                form = layui.form,
                laydate = layui.laydate,
                upload = layui.upload,
                dropdown = layui.dropdown,
                add_num = 1,
                args = searchToObject();

                if (args.name !== undefined){
                }

                dropdown.render({
                    elem: '#add_options'
                    ,data: [{
                        title: '字符参数'
                        ,id: 1
                    },{
                        title: '选项参数'
                        ,id: 2
                    }]
                    ,id: "add_options"
                    ,click: function(data){
                        var ops_text;
                        add_parameter($, data.id, add_num);
                        add_num+=1;
                    }
                });
                
                if (args.id !== undefined){
                    $.ajax({
                        url:'/api/tasks/script/' + args.id + '/version/' + args.vid,
                        type: 'get',
                        headers: {
                                "Authorization": 'Bearer ' + getToken()
                        },
                        success:function(data){
                            var cmd_lang;
                            $('#L_name').val(data.data.name);
                            $('#L_id').val(data.data.script_id);
                            $('#L_vid').val(data.data.id);
                            $('#L_version').val(data.data.version);
                            $('#L_parameter_mode').val(data.data.parameter_mode);
                            form.render('select');
                            if (data.data.lang === 'shell' || data.data.lang === 'python'){
                                $('#script_pro').show();
                                code_mirror(data.data.lang); 
                                insertTextAtCuror(editor, data.data.comment); // 脚本内容赋值
                                if (data.data.lang === 'shell'){
                                    cmd_lang = 'sh';
                                }else{
                                    cmd_lang = 'py';
                                }
                                upload.render({
                                    elem: '#filescript'
                                    ,url: ''
                                    ,auto: false
                                    ,accept: 'file'
                                    ,exts: cmd_lang
                                    ,choose: function(obj){
                                        //读取文件
                                        obj.preview(function (index, file, result){
                                            // 里面定义的变量，外部无法使用
                                            var txt = result.replace(/^data:text\/\w+;base64,/, "").replace(
                                                            /^data:application\/\w+\-\w+;base64,/,"").replace(
                                                            /^data:text\/\w+\-\w+;base64,/,"");
                                            var udata = Base64.decode(txt);
                                            if (udata !== undefined && udata.length > 0){
                                                // 多次选择同一个文件，不会替换文本内容。
                                                insertTextAtCuror(editor, udata);
                                            }
                                        });
                                    }
                                });
                            }
                            if (data.data.lang === 'file'){
                                $('#script_filename').show();
                                $('#cmd_title').text('已上传脚本');
                                $('#L_filename').val(data.data.comment);
                            }
                            data.data.vars_template.forEach(function(val, index){
                                add_parameter($, val.type, val.id, true, val.name, val.value, val.desc);
                            });
                        }
                    })
                }
                
                form.verify({
                    cmd: function(value) {
                        var value;
                        value=$('#L_filename').val();
                        if(editor.getValue() === undefined || editor.getValue().length === 0){
                            if(value.length === 0)
                                return "脚本内容为空";
                        }
                    }
                })
                //监听提交
                form.on('submit(add)', function(data) {
                    //console.log(data.field);
                    //console.log(editor_py.getValue());
                   // console.log(editor_sh.getValue());
                  if(editor.getValue() != undefined && editor.getValue().length > 0){
                    data.field.comment = editor.getValue();
                  }else {
                    data.field.comment = data.field.scripts_filename;
                  }
                  $.ajax({
                    url: '/api/tasks/script/' + args.id + '/version/' + args.vid,
                    type: 'put',
                    headers: {"Authorization": 'Bearer ' + getToken()},
                    data: JSON.stringify(data.field),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success:function(res){
                        layer.alert("修改成功", {
                            icon: 6
                        }, function() {
                            location.reload();
                            //xadmin.father_reload();
                        });
                    },
                    error: function(res){
                        error_message(res);
                    }
                  }); 
                  return false;
                });
            });
      function show_back(obj){
        obj.style.backgroundColor='#ECECEC';
      }
      function dis_back(obj){
        obj.style.backgroundColor='#FFF';
      };
      function insertTextAtCuror(editor, text){
        var doc = editor.getDoc();
        var cursor = doc.getCursor();
        doc.setValue(text);
//        doc.replaceRange(text);
      }
      var editor;

      function code_mirror(t){
        if (t === 'python'){
            // python
          document.getElementById('cmd_title').innerHTML = 'python';
          editor = CodeMirror.fromTextArea(document.getElementById('L_comment'),{
            mode: 'text/x-python',
            lineNumbers: true, // 显示行数
            indentUnit: 4, // 缩进单位为4
            matchBrackets : true,
            autofocus: true,
            styleActiveLine: true, // 当前行背景高亮
            lineWrapping: false, // 自动换行
            theme: 'base16-dark', // 显示类型
          });
        }else{
          // shell
          document.getElementById('cmd_title').innerHTML = 'shell';
          editor = CodeMirror.fromTextArea(document.getElementById('L_comment'),{
            mode: 'text/x-shell',
            lineNumbers: true, // 显示行数
            indentUnit: 4, // 缩进单位为4
            matchBrackets : true,
            autofocus: true,
            styleActiveLine: true, // 当前行背景高亮
            lineWrapping: false, // 自动换行
            theme: 'base16-dark', // 显示类型
          });
        }
      }
      </script>
    </body>

</html>
