<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>报警邮件记录</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <link rel="stylesheet" href="/static/myicon/iconfont.css">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <script src="/static/js/my/main.js" charset="utf-8"></script>
        <script src="/static/js/custom/checkToken.js" charset="utf-8"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav">
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-input-inline layui-show-xs-block">
                                    <select name="types" lay-filter="mtype">
                                        <option value="">选择类型</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <select name="groups" lay-filter="mgroup">
                                        <option value="">选择组别</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input type="text" id="starttime" name="mstarttime" lay-verify="datetime"
                                       placeholder="开始时间" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline layui-show-xs-block" style='width:180px'>
                                    <input type="text" id="endtime" name="mendtime" lay-verify="datetime"
                                       placeholder="结束时间" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline layui-show-xs-block" style="width: 230px;">
                                    <input type="text" name="q"  placeholder="搜索标题、收件人" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-primary" id="exportall"><i class="layui-icon">&#xe67d;</i>导出全部</button>
                            <button class="layui-btn layui-btn-primary" id="exportselect"><i class="layui-icon">&#xe67d;</i>导出选中</button>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
                               <table class="layui-table layui-form" id="alarm-mail-his" lay-filter="alarm-mail-his">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script>
        // 方便导出全部功能获取url，可能会有bug。
      layui.use(['form', 'table', 'layer', 'element', 'jquery','laydate'], function(){
        var form = layui.form,
            table = layui.table,
            element = layui.element,
            $ = layui.jquery,
            laydate = layui.laydate,
            url='/api/alarm/mail/history',
            intbl;

        checkToken($);

        // 表格数据加载
        intbl = table.render({
            elem: '#alarm-mail-his'
            ,url: url
            ,headers: {"Authorization": 'Bearer ' + getToken()}
            ,method: 'get'
            ,title: '报警邮件历史数据'
            ,id: 'alarm-mail-his'
            ,cols: [[
              {type: 'checkbox', width: '5%'}
              ,{field:'MessageType', title:'报警类型',width: '5%'}
              ,{field: 'Group', title: '分组', width: '5%'}
              ,{field: 'ReportName', title: '邮件模板', width: '10%'}
              ,{field: 'Subject', title: '标题', width: '25%'}
              ,{field: 'CreateTime', title: '报警时间', width: '10%', autoSort: false, sort: true}
              ,{field: 'Message', title: '报警信息', width: '20%'}
              ,{field:'Email', title:'收件人', width: '10%'}
              ,{field:'mlevel', title:'报警等级', width: '5%'}
              ,{field:'issend', fixed: 'right',title:'发送状态'}
            ]]
            ,page: true
        });
        //intbl = mail_history_render(table, url);
        // 下拉框数据加载
        mh_select_reload($, form,'/api/alarm/mail/history/mtype', 'types');
        mh_select_reload($, form,'/api/alarm/mail/history/group', 'groups');

        laydate.render({
            elem: '#starttime'
            ,type: 'datetime'
        });
        laydate.render({
            elem: '#endtime'
            ,type: 'datetime'
        });

        table.on('sort(alarm-mail-his)', function(obj){
            //console.log(obj.field);
            //console.log(obj.type);
            table.reload('alarm-mail-his',{
                initSort: obj
                ,where: {
                    field: obj.field
                    ,order: obj.type
                }
            });
        })
        // 监听全选
        form.on('checkbox(checkall)', function(data){

          if(data.elem.checked){
            $('tbody input').prop('checked',true);
          }else{
            $('tbody input').prop('checked',false);
          }
          form.render('checkbox');
        });         
        // 搜索
        form.on('submit(search)', function(data){
            url = '/api/alarm/mail/history/search?q=' + data.field.q + 
                  '&type=' + data.field.types + 
                  '&group=' + data.field.groups + 
                  '&start_time=' + data.field.mstarttime + 
                  '&end_time=' + data.field.mendtime 
            mail_history_render(table, url);
            return false;
        });
        $('#exportall').on('click', function(){
            var u = paramsJoin(url, {'all': 1});
            layui.jquery.ajax({
                url: u
                ,type: 'get'
                ,async: false
                ,headers: {"Authorization": 'Bearer ' + getToken()}
                ,dataType: 'json'
                ,success: function(res){
                    table.exportFile(['报警类型','分组','邮件模板',        
                                        '标题','报警时间','报警信息',        
                                        '收件人','报警等级','发送状态'], res.data, 
                                        'csv','报警邮件历史记录')
                }
                ,error:function(res){
                    error_message(res);
                }
            });
        });
        $('#exportselect').on('click',function(){
            console.log('export select');
            var checkStatus = table.checkStatus('alarm-mail-his')
               ,data = checkStatus.data
                ,d=[];
            if(typeof data == "undefined" || data == null || data == ""){
                layer.msg('未选择');
            } else {
                //console.log(data);
                $.each(data, function(index, value){
                    d.push([
                        value.MessageType
                        ,value.Group
                        ,value.ReportName
                        ,value.Subject
                        ,value.CreateTime
                        ,value.Message
                        ,value.Email
                        ,value.mlevel
                        ,value.issend
                    ])
                })
                //console.log(d)
                table.exportFile(['报警类型','分组','邮件模板',        
                                    '标题','报警时间','报警信息',        
                                    '收件人','报警等级','发送状态'], d, 
                                    'csv','报警邮件历史记录');
                d.length=0;
            }
        });
      });
    </script>
</html>
